.contenedor-info {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 1.3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.titulo-bienvenida {
  font-size: 1.8rem;
}

.info {
  margin-bottom: 10px;
}

.info-cuerpo {
  background-color: black;
  color: gold;
}
