.contenedor-sobre-nosotros {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}

.texto-sobre-nosotros {
  font-size: 1.3rem;
}

.imagen-sobre-nosotros {
  max-width: 400px;
  height: 300px;
  object-fit: cover;
}

.texto-final {
  font-weight: bold;
}

@media (max-width: 738px) and (min-width: 686px) {
  .contenedor-sobre-nosotros {
    margin-bottom: 150px;
  }
}

@media (max-width: 685px) and (min-width: 458px) {
  .contenedor-sobre-nosotros {
    margin-bottom: 200px;
  }
}

@media (max-width: 457px) and (min-width: 321px) {
  .contenedor-sobre-nosotros {
    margin-bottom: 240px;
  }
}

@media (max-width: 320px) and (min-width: 259px) {
  .contenedor-sobre-nosotros {
    margin-bottom: 290px;
  }
}

@media (max-width: 258px) and (min-width: 200px) {
  .contenedor-sobre-nosotros {
    margin-bottom: 300px;
  }
}

@media (max-width: 293px) {
  .contenedor-sobre-nosotros {
    margin-top: 230px;
  }
}
