.tabla-admin {
  font-size: 1.2rem;
}

.tabla-admin th {
  background-color: rgb(163, 156, 156);
  color: white;
}

.tabla-admin td {
  background-color: rgb(163, 156, 156);
  color: white;
}

.texto-oculto-clase {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 300px;
}

.texto-oculto {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 300px;
}

@media (max-width: 970px) and (min-width: 440px) {
  .tabla-admin tbody tr {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }

  .tabla-admin thead {
    display: none;
  }

  .tabla-admin td {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .tabla-admin td:before {
    content: attr(data-label);
    font-weight: bold;
    flex: 1;
  }

  .texto-oculto {
    width: 200px;
  }

  .texto-oculto-id {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 150px;
  }

  .texto-oculto-profe {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
  }
}

@media (max-width: 439px) {
  .tabla-admin tbody tr {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }

  .tabla-admin thead {
    display: none;
  }

  .tabla-admin td {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px;
  }

  .tabla-admin td:before {
    content: attr(data-label);
    font-weight: bold;
    flex: 1;
  }

  .texto-oculto {
    width: 200px;
  }

  .texto-oculto-id {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 150px;
  }

  .texto-oculto-profe {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
  }
}

@media (min-width: 971px) {
  .texto-oculto-profe {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 50px;
  }

  .texto-oculto-id {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 50px;
  }

  .texto-oculto-profe {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
  }
}
