.tabla-admin {
  font-size: 1.2rem;
}

.tabla-admin th {
  background-color: rgb(163, 156, 156);
  color: white;
}

.tabla-admin td {
  background-color: rgb(163, 156, 156);
  color: white;
}

.texto-oculto-id {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 50px;
}

.texto-oculto-clase {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 300px;
}

.texto-oculto {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 300px;
}

.texto-oculto-profe {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
}
